<nav class="navbar">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/">Транспорт Львова Live</a>
        <button type="button" class="navbar-toggle" aria-label="Меню" aria-controls="navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul id="navbar" class="nav">
            <li><a href="/">Головна</a></li>
            <li><a href="/about">Про застосунок</a></li>
            <li><a href="/contact">Контакти</a></li>
        </ul>
    </div>
</nav>
